html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Rules for base elements
 */
/*para pruebas del mobile
 */
@media (max-width: 640px) {
  #admin-menu {
    display: none; } }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  background: #fff; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.site-logo img {
  width: 250px;
  height: 125px; }

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .main::after {
    clear: both;
    content: "";
    display: table; }

#block-views-recent-products-block h2 {
  font-size: 20px;
  font-size: 2rem; }

#block-views-recent-products-block .views-view-grid tbody tr {
  float: none; }
  #block-views-recent-products-block .views-view-grid tbody tr td {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    float: none;
    text-align: center;
    color: #fff; }
    @media (min-width: 500px) {
      #block-views-recent-products-block .views-view-grid tbody tr td {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        float: left; }
        #block-views-recent-products-block .views-view-grid tbody tr td:last-child {
          margin-right: 0; } }
    @media (min-width: 700px) {
      #block-views-recent-products-block .views-view-grid tbody tr td {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        float: left; }
        #block-views-recent-products-block .views-view-grid tbody tr td:last-child {
          margin-right: 0; } }
    #block-views-recent-products-block .views-view-grid tbody tr td:last-child {
      margin-right: 0; }

.field-name-field-video {
  text-align: center; }

#site-name {
  display: none; }

.header-content {
  text-align: center;
  color: #2a9d8a; }
  .header-content a {
    width: 100%; }

.ul li.leaf {
  list-style-type: none;
  list-style-image: none; }

ul.menu {
  padding-left: 0; }
  ul.menu li {
    list-style-type: normal;
    list-style: none;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    margin: 0; }
    ul.menu li a {
      color: #2a9d8a;
      text-decoration: none; }
  ul.menu li.expanded:hover ul.menu {
    display: block; }
  ul.menu li.expanded ul.menu {
    display: none;
    height: auto;
    position: absolute;
    background: #2a9d8a;
    width: 135px;
    z-index: 3; }
    ul.menu li.expanded ul.menu li {
      position: relative; }

#block-system-main-menu {
  background: #2a9d8a; }
  #block-system-main-menu a {
    color: #fff; }

@media (min-width: 500px) {
  .block-menu h2 {
    display: none; }
  ul.menu {
    display: block;
    text-align: center;
    height: auto; }
    ul.menu li {
      font-size: 20px;
      font-size: 2rem;
      display: inline-block;
      width: auto; }
      ul.menu li a {
        margin: 0 20px;
        border-bottom: 1px solid #fff; } }

.node-slide-show .user-picture {
  display: none; }

.node-slide-show h2 a {
  display: none; }

#block-views-categories-list-block {
  text-align: center; }
  #block-views-categories-list-block h2 {
    font-size: 20px;
    font-size: 2rem; }

.node-teaser {
  border: 2px solid #2a9d8a;
  color: #2a9d8a;
  text-align: center;
  height: auto; }
  .node-teaser .field-item {
    margin: 10px 0; }

.add-to-card {
  font-size: 14px;
  font-size: 1.4rem;
  width: 40%;
  background: #fff;
  color: #2a9d8a;
  border: 2px solid #2a9d8a;
  display: block;
  padding: 15px 0;
  margin: 0 auto; }
  .add-to-card:hover {
    background: #2a9d8a;
    color: #fff; }

.footer {
  background: #2a9d8a; }
  .footer h2 {
    display: none; }
  .footer p {
    color: #fff;
    margin: 0 20px;
    padding: 35px 0; }
  .footer a {
    color: #fff;
    float: right;
    margin: 0 20px; }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767px) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */