#site-name {
  display: none;
}

#block-system-main-menu {
  background: $primary-color;
  a{
    color: $light;
  }
}

.header-content {
  color: $primary-color;
  text-align: center;
  a {
    width: 100%;
  }
}

.ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}

ul.menu {
    padding-left: 0;
  li{
    @include font-size(18);
    list-style-type: normal;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
  li.expanded {
    &:hover {
      ul.menu {
        display: block;
      }
    }
    ul.menu {
      background: $primary-color;
      display: none;
      height: auto;
      position: absolute;
      width: 135px;
      z-index: 3;
      li {
        position: relative;
      }
    }
  }
}



@media (min-width: $mobile) {
  .block-menu h2{
    display: none;
  }
  ul.menu{
    display: block;
    height: auto;
    text-align: center;
    li{
      @include font-size(20);
      display: inline-block;
      width: auto;
      a{
        border-bottom: 1px solid $light;
        margin: 0 20px;
      }
    }
  }
}



