// products styles

.node-teaser {
  border: 2px solid $primary-color;
  color: $primary-color;
  height: auto;
  text-align: center;
  .field-item {
    margin: 10px 0;
  }
}

.add-to-card {
  @include font-size(14);
    background: $light;
    border: 2px solid $primary-color;
    color: $primary-color;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    width: 40%;
  &:hover {
    background: $primary-color;
    color: $light;
  }
}

.field-name-recent-comment {
  background: $dark;
  color: $primary-color;
}

.comment {
  background: $dark;
  color: $primary-color;
  margin: 20px 0;
  padding: 10px 10px;
  .permalink {
    @include font-size(18);
    color: $light;
  }
  .username {
    @include font-size(24);
  }
  .field-label{
      @include font-size(14);
  }
  .field-name-field-rating , .field-type-fivestar {
    @include font-size(20);
  }
  img {
    height: 200px;
    margin: 5px 5px;
    width: 200px;
  }
  p {
    color: $light;
  }
}

.view-mode-full{
  .group-left {
    width: 100%;
    @media (min-width: $mobile){
    width: 50%;
  }
  .group-right {
    .field {
      margin: 10px 10px;
    }
    .add-to-card {
      margin: 0;
      text-align: center;
    }
    width: 100%;
    float: none;
      @media (min-width: $mobile) {
        float: right;
        width: 50%;
      }
    }
  }
}

.field-label{
  @include font-size(16);
  color: $primary-color;
}

.field-item{
  @include font-size(14);
}

.field-name-field-video {
  margin: 20px 0 ;
  text-align: center;
}
