//
// General layout rules
//
.site-logo img{
    width: 250px;
    height: 125px;
}

body {
  @include outer-container;
}

.main {
  @include outer-container;
}

#block-views-recent-products-block {
   h2{
    @include font-size(20);
  }
  .views-view-grid tbody{
    tr{
      float: none;
      td{
        @media (min-width: $mobile){
          @include span-columns(4);
          float: left;
        }
         @media (min-width: $tablet){
          @include span-columns(4);
          float: left;
        }
        @include span-columns(12);
        float: none;
        text-align: center;
        color: $light;
      }
    }

  }
}

.field-name-field-video {
  text-align: center;
}

