//
// General layout rules
//


body {
  @include outer-container;
}

.main {
  @include outer-container;
}

.site-logo img{
    height: 125px;
    width: 250px;
}

#block-views-categories-list-block {
  text-align: center;
}

#block-views-recent-products-block {
  .views-view-grid tbody{
    tr{
      float: none;
      td{
        @media (min-width: $mobile){
          @include span-columns(4);
          float: left;
        }
         @media (min-width: $tablet){
          @include span-columns(4);
          float: left;
        }
        @include span-columns(12);
        color: $light;
        float: none;
        text-align: center;
      }
    }

  }
}

iframe {
  @media (max-width: $mobile){
    height: 200px;
    width: 300px;
  }
}
